# Introduction:

IPython is a command shell for interactive computing in multiple programming languages, originally developed for the Python programming language, that offers introspection, rich media, shell syntax, tab completion, and history. IPython provides the following features:


1. Interactive shells (terminal and Qt-based(Crossplatform)).
2. A browser-based notebook with support for code, text, mathematical expressions, inline plots and other media.
3. Support for interactive data visualization and use of GUI toolkits.
4. Flexible, embeddable interpreters to load into one's own projects.
5. Tools for parallel computing.


How to Start?
1. Create an IPython notebook, choose File -> New -> IPython notebook. 
2. Create a new cell(to write text or code), Hit Alt+Enter to create a new cell. 
3. To run, Hit Shift+Enter 
4. Convert cell to text, ESC + m OR select mark down from top
5. Delete cell, ESC + D

In [1]:
print("Hello World!")

Hello World!

In [2]:
# No need to define a data type. Auto interprested
workingdirectory=('C:\\Users\Vinit\Desktop\Harish\Classes\7 April Batch\A4 Day 3 - 14 April python\\')

In [3]:
print(workingdirectory);

C:\Users\Vinit\Desktop\Harish\Classes April Batch\A4 Day 3 - 14 April python\

In [4]:
print ("Multiply Operation is as below")
23*543

Multiply Operation is as below

12489

To see history of commands, %history
Used to extract code from IPython notebook to a separate file.

In [5]:
%history

print("Hello World!")
# No need to define a data type. Auto interprested
workingdirectory=('C:\\Users\Vinit\Desktop\Harish\Classes\7 April Batch\A4 Day 3 - 14 April python\\')
print(workingdirectory);
print ("Multiply Operation is as below")
23*543
%history

To get more details on command/ function, use ? at the end

In [6]:
print?

NumPy (pronounced /ˈnʌmpaɪ/ (NUM-py) or sometimes /ˈnʌmpi/ (NUM-pee)) is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

In [7]:
import numpy as np
np.mean?

To see all functions and commands that are associated with a package (such as NumPy), use TAB button.

In [8]:
np.add(2 , 5)

7

**Syntax in python**

1. Case Sensitive language
2. whitespace (space bar/blank) used for intendation 
3. ; at end of statement not required 
4. IF , ELSE, use whitespace

if a > b
   print("a is big")
else
   print("b is big")




There should not be unnecessary spaces.
'#' Denotes comments
'''  commented lines  ''' is used for multi line comments

In [10]:
age = 7
print ('Age is ', age)   #Remove space and try again

Age is  7

In [11]:
# single line comment
# print("This line will not be printed, This line is in a single line comment")
''' block comment 3 single quotes
print("Block comment line")
print ("Block comment line")
'''
print("Out of comment")

Out of comment

Example of indentation for IF statement

In [12]:
x = 11
y = 5
print (x)

if x<10:      # x = 11
    print(x)
    print(y)

11

In [13]:
x = 11
y = 5
print (x)
if x<10:
    print(x)
print(y)

11
5

**Variables and Data Structures**

Built in data types: int, float, string, boolean value, date, time

data structurs: Tuple (immutable - can not change value) , List (mutable - change the value), Dictionary (Key Value pair. 1 key, can be multiple values)

In [14]:
# Auto assigns type

name    = "Amitabh"       # A string
age     = 26              # An integer assignment
weight  = 70.4            # A floating point

print (name)
print (age)
print (weight)

Amitabh
26
70.4

In [15]:
# Difference between numeric addition and string concatination

a = 12                   # Since no decimal point, it will auto assume as integer
b = 7.5                  # since decimal point, it will auto assume as float
c = "5"                 # String, since inverted commas
d = "2"                 # String, since inverted commas
print(b + a)  # Sum of values = 7.5 + 12 = 19.5
print(c  + d) # Concatenating Strings = "5" + "2" = "52"

19.5
52

**String**

In [16]:
strr = 'Hello World'       # 0-H 1-e 2-l 3-l 4-o 5-' ' 6-W 7-o 8-r 9-l 10-d
print (strr)            # prints complete string
print (strr[0])         # prints first character of string   ... It will print H  
print (strr[3:6])       # prints characters starting from 4th to 6th. Exclude last element. 'W' is excluded.   ...3--l 4-o 5-' ' 
print (strr[6:])        # prints string starting from 7th character.... 6-W 7-o 8-r 9-l 10-d
print (strr*2)          # prints string two times... Hello WorldHello World
print (strr + "!!!")    # prints concatenated string... Hello World!!!

Hello World
H
lo
World
Hello WorldHello World
Hello World!!!

In [17]:
strr ="hello"
print(strr[-1]) # Print last character

o

In [18]:
a = 'Hello World'
b = a.replace('World','India')    # a = Hello World --> b = Hello India
print (a) 
print (b)

Hello World
Hello India

In [19]:
a = '10'              # String because 10 is in inverted commas
anum = int(a)         # Typecaste/Convert String '10' to Integer - Possible... anum = 10 (integer)
print (anum + anum)  # 10 + 10 = 20

20

In [20]:
achar = str(anum)     # Typecaste/Convert int '10' to string - Possible.   10 will become string '10'
print (achar + achar) # Since achar is a string, + will do concatenation . '10'+'10' = '1010'

1010

In [21]:
a = "hi"               # String
anum = int(a)         # Typecaste/Convert String 'hi' to Integer - Not Possible
print (anum)

ValueError: invalid literal for int() with base 10: 'hi'

In [22]:
a = "hi there"
print (a)
print (len(a))

hi there
8

In [23]:
# a is 'hi there' . i.e. it is a string
# len(a) = 8, which is numeric

a + len(a) # Concatenating String & Integer - Error

TypeError: must be str, not int

In [24]:
a + str(len(a)) # Convert to String so that concatenation works

'hi there8'

In [25]:
# Lets us see how to create formatted outputs
string = "This is python"
strlist = list(string)
print(strlist)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [26]:
format = '%.3f %s is S$%d'            # Let us visualize the formatting '%.2f %s is $%d' is like 'Float String Integer'
format %(46.5568,'Indian Rupees',1)

'46.557 Indian Rupees is S$1'

In [27]:
string = "This is python"
print (string.count('s'))
print (string.split(' '))
print (string.upper())
print (string.lower())
print (string.swapcase())

2
['This', 'is', 'python']
THIS IS PYTHON
this is python
tHIS IS PYTHON

**Resume from here on 15/04/2018**

In [28]:
str1 = "    Today is a bright sunny day in New York      "
print (str1.rstrip())                   # Remove spaces from right 
print (str1.lstrip())                   # Remove spaces from left 
print (str1.strip())                    # Remove spaces from both sides  

print (",".join(str1))                  # Sequence of elements to be joined

    Today is a bright sunny day in New York
Today is a bright sunny day in New York
Today is a bright sunny day in New York
 , , , ,T,o,d,a,y, ,i,s, ,a, ,b,r,i,g,h,t, ,s,u,n,n,y, ,d,a,y, ,i,n, ,N,e,w, ,Y,o,r,k, , , , , ,

In [29]:
print (" ".join(["Hello","World"]))   # How to do string concatenation. 
print (",".join(["Hello","World"]))   # How to do string concatenation.

Hello World
Hello,World

In [30]:
school = 'Delhi Public School'
print('D' in school)
print('U' in school)

True
False

In [32]:
# Let see how to get the type of the variables
x='Value of x is :   0.9032'
pos = x.find(':')
print(pos)


num=float(x[pos+1:])
print (num, type(num))

14
0.9032 <class 'float'>

In [34]:
# For the string, get first 6 characters, and last 15 characters.
# Now join them to form a new string with an underscore in between

strr = 'Hello, welcome to the world of Python'
a = strr[0:6]             # First 6 chars
b = strr[-15:]             # Last 15 Chars     

print(a)
print(b)

c = a + '_' + b
print(c)

Hello,
world of Python
Hello,_world of Python

In [35]:
d = '_'.join([a,b])
print(d)

Hello,_world of Python

In [36]:
x = 'Hello'        # Hello -> Worlo
y = 'World'        # World -> Helld
#Swap first three characters of each string and join them by an |

first = y[0:3] + x[3:]     # Worlo
second = x[0:3] + y[3:]    #Helld

print(first)
print(second)

final = first + '|' + second     #Worlo|Helld

print(final)

Worlo
Helld
Worlo|Helld

**Datime**
 
 1. Built in Module
 
 2. V flexible and supports up to nano seconds

In [37]:
from datetime import datetime, date, time

help(datetime.strptime)                           # Help for a function
                                                  #The datetime.strptime() class method creates a datetime object from a string 
print(datetime.strptime('20170107080001','%Y%m%d%H%M%S'))

Help on built-in function strptime:

strptime(...) method of builtins.type instance
    string, format -> new datetime parsed from a string (like time.strptime()).

2017-01-07 08:00:01

In [38]:
date1 = datetime(2017, 1, 7, 8, 0, 1)
print(date1.day)
print(date1)

7
2017-01-07 08:00:01

In [40]:
date2 = datetime(2016, 1, 22)
print(date2.day)
print(date2)

22
2016-01-22 00:00:00

In [41]:
datediff = date1 - date2
print(datediff)

351 days, 8:00:01

**List, Dictionary and Tuple**

List (Similar to arrays)
1. specify/Enclose in sqare brackets - **[ ]**
2. **Mutable.** (Delete value, add new value in middle/start)
3. All elements are separated by commas


Tuple (Similar to list)
1. specify/Enclose in sqare brackets - **( )**
2. **ImMutable.** (Can not Delete value, Can not add new value in middle/start. **However can add new value at the end**)


Dictionary
1. specify/Enclose in curly brackets - **{ }**
2. **Key Value Pair** - (Key will be always 1, value can be multiple)

**List Examples**

In [42]:
list1 = [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
list2 = [123, 'XYZ']

print (list1)            # Print First list - o/p will print [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
print (list2)            # Print Second list - o/p will print [123, 'XYZ']

print (list1[0])         # Print first element of the list1   - o/p will be 0th index of list1 . i.e. 'abc'
print (list1[1:3])       # Print elements starting from 2nd till 3rd  - o/p will be 123 , 5.67,
print (list1[1:])        # Print elements starting from 2nd element  - o/p will be 123 , 5.67, 'XYZ', 11.2, 'qaz'

print (list2 * 2)        # Print Second list 2 times. Asterisk ( * ) is repetition operator. - o/p will be 123, 'XYZ', 123, 'XYZ'
print (list1 + list2)    # Print concatenated lists. Plus ( + ) is the concatenation operator
                             # o/p will be 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' , 123, 'XYZ'
print (len(list2))       # Print length of list2       # o/p will be 2

['abc', 123, 5.67, 'XYZ', 11.2, 'qaz']
[123, 'XYZ']
abc
[123, 5.67]
[123, 5.67, 'XYZ', 11.2, 'qaz']
[123, 'XYZ', 123, 'XYZ']
['abc', 123, 5.67, 'XYZ', 11.2, 'qaz', 123, 'XYZ']
2

In [43]:
lista = [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
listb = lista          # Listb will be come [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]
lista = lista*2        # lista will be come [ 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz', 'abc', 123 , 5.67, 'XYZ', 11.2, 'qaz' ]

print (lista)          
print (listb)

['abc', 123, 5.67, 'XYZ', 11.2, 'qaz', 'abc', 123, 5.67, 'XYZ', 11.2, 'qaz']
['abc', 123, 5.67, 'XYZ', 11.2, 'qaz']

In [45]:
list1 = ['Mumbai', 'Delhi', 'Chennai']
print (list1)

list1.append('Hyderabad')      
print (list1)

list1.insert(0, 'Banglore')
print (list1)

list1.extend(['City1', 'City2']) 
print (list1)                         # Append can add only 1 element at end where as extend can add multiple elements

list2 = ['City3', 'City4', 'City5']
list1.extend(list2)
print (list1)  

print (list1.index('City1')) 

list1.remove('City4')                # Remove by Name
print (list1)  

list1.pop(1)                         # Remove by Index
print (list1)

['Mumbai', 'Delhi', 'Chennai']
['Mumbai', 'Delhi', 'Chennai', 'Hyderabad']
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad']
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2']
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2', 'City3', 'City4', 'City5']
5
['Banglore', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2', 'City3', 'City5']
['Banglore', 'Delhi', 'Chennai', 'Hyderabad', 'City1', 'City2', 'City3', 'City5']

In [54]:
#Sorting
numberlist = [9, 3, 15, 7, 13, 1, 5, 11, 17]
numberlist.sort()
print(numberlist)

print (len(numberlist))
print (max(numberlist))
print (min(numberlist))

[1, 3, 5, 7, 9, 11, 13, 15, 17]
9
17
1

In [55]:
numberlist.sort?

In [53]:
numberlist.sort(key=None, reverse=True)
print(numberlist)

[17, 15, 13, 11, 9, 7, 5, 3, 1]

In [56]:
charlist = ['abcded', 'g', 'hijk', 'lm', 'nopqrst']
print (sorted(charlist, key=len))      # Sorted will not change the list.
print(charlist)                        # Value of list remains the same.

['g', 'lm', 'hijk', 'abcded', 'nopqrst']
['abcded', 'g', 'hijk', 'lm', 'nopqrst']

**Dictionary**

In [57]:
#Dictionary is an abstract data type composed of collection of (key, value) pairs, key will be only 1 time, value can be multiple
# Example 1: Single Key , Single Value
dict1 = {}
dict1['one'] = "This is 1st String"
dict1[2]     = "This is 2nd String"

print (dict1['one'])       # Prints value for 'one' key
print (dict1[2])           # Prints value for 2 key

This is 1st String
This is 2nd String

In [58]:
# Example 2: Single Key , Multiple Values
dict2 = {'state': 'Maharashtra', 'city': ['Mumbai', 'Pune'],'code':23, 'dept': 'GST'}
print (dict2)          # Prints complete dictionary
print (dict2.keys())   # Prints all the keys
print (dict2.values()) # Prints all the values

{'state': 'Maharashtra', 'city': ['Mumbai', 'Pune'], 'code': 23, 'dept': 'GST'}
dict_keys(['state', 'city', 'code', 'dept'])
dict_values(['Maharashtra', ['Mumbai', 'Pune'], 23, 'GST'])

** Tuple **

In [64]:
a = (1,2,3,4)
print(a)


# a[0]=10               # can not change the value or add in middle, as Tuple is immutable. Comment this line
print(a.index(2)) 
 
a = a + (10,)           # Can append at the end      
print(a)

(1, 2, 3, 4)
1
(1, 2, 3, 4, 10)

In [65]:
print(id(a))                 # ID is unique number for all objects in program
print(hex(id(a)))

2004921352128
0x1d2ce9fffc0

In [66]:
# empty tuple
tuple1 = ()
print(tuple1)

()

In [67]:
# Integer tuple
tuple1 = (1, 2, 3)
print(tuple1)

(1, 2, 3)

In [68]:
# Mixed tuple
tuple1 = (1, "Hello", 2.3)
print(tuple1)

(1, 'Hello', 2.3)

In [69]:
#Nested Tuple
tuple1 = ("mouse", [1, 2, 3], (1, "b", 3))
print(tuple1)

('mouse', [1, 2, 3], (1, 'b', 3))

In [70]:
#Without () parantheses
tuple1 = 3, 2.3, "dog"
print(tuple1)

(3, 2.3, 'dog')

In [71]:
# Unpacking Tuple
a, b, c = tuple1
print(a)
print(b)
print(c)

3
2.3
dog

**Operators**
1. + - Addition
2. - - Subtraction
3. * - Multiply
4. ** - Raise to/ power
5. / - Divide
6. // - Floor Divide - 
9/2 = 4 (round towards 0 for +ve no)       
9.0/2.0 = 4.0

-11/3 = (-3.75) = -4 (away from 0 for -ve no)

7. % - Modulus 
8. < less than
9. > greater than
10. <= , >= , == , != , 
11. boolean : not , and , or

In [73]:
a = 7
b = 8

print (1, a == 6)
print (2, a == 7)
print (3, a == 6 and b == 7)
print (4, a == 7 and b == 7)
print (5, not a == 7 and b == 7)
print (6, a == 7 or b == 7)
print (7, a == 7 or b == 8)
print (8, not (a == 7 and b == 8))
print (9, not a == 7 and b == 8)

1 False
2 True
3 False
4 False
5 False
6 True
7 True
8 False
9 False

**Conditional Statements**

**IF - ELSE**

1. Else is optional
2. Indentation is important (whitespaces)

In [74]:
a = 2
if a >= 3:
   print("if")
elif a >= 21:
   print("elif")
else:
   print("else")

else

In [78]:
#Testing for an element in list
list = ['Mumbai', 'Delhi', 'Chennai']
if 'Mumbai' in list:
    print ('Found Mumbai')
# else:
#    print ('did not find Mumbai')

did not find Mumbai

**While**
1. Execute until conditional statement is true

In [79]:
n = 0
while (n <= 5):
   print ('Value of n is :', n)
   n = n + 1

print ("End of while loop!")

Value of n is : 0
Value of n is : 1
Value of n is : 2
Value of n is : 3
Value of n is : 4
Value of n is : 5
End of while loop!

**FOR Statement**

In [80]:
for i in range(1,10,3):     # Start from 1, increase by 3 till less than 10
    print (i)                  # 1 , 4, 7 
else:
   print ("The for loop is over")

1
4
7
The for loop is over

In [90]:
numbers = [4 , 1 , 2 ]
sum = 0

for num in numbers:
    sum += num          # Step1: 0+4 = 4 , Step2: 4+1 = 5, Step3: 5+2 = 7
    
print (sum)

print (type(num))

7
<class 'int'>

In [82]:
numbers = [4, 1, 2]
sum = [ i+2 for i in numbers ]    # [4, 1, 2] + 2 ===> [6, 3, 4]
print (sum)

[6, 3, 4]

In [83]:
numbers = [4, 1, 2]
sum = [ i+2 for i in numbers if i<= 3]     # [4, 1, 2] + 2 ===> [3, 4]
print (sum)

[3, 4]

**BREAK**

End the looping even if condition is true

In [84]:
for i in range(1,10,3):
    print (i)
    break
else:
   print ("The for loop is over")

1

In [ ]:
Functions - 15 Minutes
Modules - 20 Minutes

Read, Write from File - 20 Minutes

Exception handling - 20 Minutes

**E - Functions**
1. Reusable peice of code. 
2. it accepts list of arguments, and also returns
3. def keyword to define funtion
4. Scope of the variable is local in function

In [91]:
def printHello():
    print('Hello World!')  
# Note: End of function is found using indentation (whitespace/spaces)

printHello()

Hello World!

In [93]:
# Find maximum of 2 numbers
def findmax(a,b):
   if a > b:
       print(a, 'is maximum')
   elif a == b:
       print(a, 'is equal to', b)
   else:
       print(b, 'is maximum')

findmax(7,9)

9 is maximum

In [94]:
def func(a, b=7, c=88):
   print('a is', a, 'and b is', b, 'and c is', c)


func(3,2)
func(25, c=24)
func(c=50, a=100)

a is 3 and b is 2 and c is 88
a is 25 and b is 7 and c is 24
a is 100 and b is 7 and c is 50

In [95]:
def say(str, times = 1):
   print(str * times)

say('Welcome')
say('Python! ', 3)

Welcome
Python! Python! Python!

In [96]:
def func(x):                        # 3. function func is invoked and value of x is 7
   print('---Start of Function---') # 4. print this line
   print('x is', x)                 # 5. print : x is : 7
   x = 3                            # 6. x = 3
   print('Changed local x to', x)   # 7. print: changed local x to : 3
   print('---End of Function---')   # 8. print: End of Function

x = 7                                   # 1. x = 7
func(x)                                 # 2. call func, pass value of x as 7
print('x is still', x)               # 9. Print x is still 7

---Start of Function---
x is 7
Changed local x to 3
---End of Function---
x is still 7

**F Module**

1. Function: used in same program.... Module: It can be used in other programs.
2. import statement is required to use module
3. Module is program with .py extension

In [97]:
import math

x = -5
print(abs(x))
print(math.fabs(x))

print(math.factorial(abs(x)))              # 5 * 4 * 3 * 2 * 1 = 120
print(math.factorial(math.fabs(x)))

5
5.0
120
120

In [98]:
import sys           
'''
sys module has functions and variables that can be used to manipulate different parts of the Python runtime environment.
'''
print(sys.path)

sys.path.append('C:\\Users\Vinit\Desktop\Harish\Classes\7 April Batch\A5 Day 4\\')
print(sys.path)

['', 'C:\\Users\\Vinit\\Anaconda3\\python36.zip', 'C:\\Users\\Vinit\\Anaconda3\\DLLs', 'C:\\Users\\Vinit\\Anaconda3\\lib', 'C:\\Users\\Vinit\\Anaconda3', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\Sphinx-1.5.1-py3.6.egg', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Vinit\\.ipython']
['', 'C:\\Users\\Vinit\\Anaconda3\\python36.zip', 'C:\\Users\\Vinit\\Anaconda3\\DLLs', 'C:\\Users\\Vinit\\Anaconda3\\lib', 'C:\\Users\\Vinit\\Anaconda3', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\Sphinx-1.5.1-py3.6.egg', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg', 'C:\\Users\\Vinit\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Vinit\\.ipython', 'C:\\Users\\Vinit\\Desktop\\Harish\\Classes\x07 April Batch\\A5 Day 4\\']

In [99]:
from april14module import *

n = input("Enter a non negative number: ")
factorialn = factorial(int(n))
print(factorialn)

Enter a non negative number: 5
120

In [100]:
from april14module import *
print(printhello())

Printed from april14module.
None

**G : Closing and Opening Files**

In [ ]:
f = open('C:\\Users\\Vinit\\Desktop\\Harish\\Classes\\sample.txt', 'r')   # r is for read
for line in f:   
    print (line)    
f.close()

In [ ]:
f = open('C:\\Users\\Vinit\\Desktop\\Harish\\Classes\\sample.txt', 'r')   # r is for read
print ("Content is \t",f.read())   
f.close()

In [ ]:
f = open('C:\\Users\\Vinit\\Desktop\\Harish\\Classes\\sample.txt', 'a')   # a is to ammend data
f.write ('\nNew Line added')
f.close()

**H Full Program **

In [ ]:
workingdir = ("C:\\Users\Vinit\\")

print("*****************animal.py*****************")
file = workingdir + "animal.py"   # Run fruit.py directly
%run $file


print("*****************snake.py*****************")
file = workingdir + "snake.py"   # Import fruit.py and then call it's function
%run $file

** I - Exception Handling**

In [ ]:
def average(numList):
         sum = 0
         for v in numList:
            sum = sum + v
         m = float(sum)/len(numList)
         print ("Average = ", m)
                    
list1 = [10,20,30,40]                     # No issues
list2 = []                                # Blank so zero division as length is 0
list3 = [10,20,30,'abc']                  # String so error. 

average(list1)
average(list2)
average(list3)

In [ ]:
def average(numList):
     try:
         sum = 0
         for v in numList:
            sum = sum + v
         m = float(sum)/len(numList)
         print ("Average = ", m)
            
     except TypeError as ex:
         print ("TypeError:", ex)
            
     except ZeroDivisionError as ex:
         print ("ZeroDivisionError:", ex)
                    
list1 = [10,20,30,40]                     # No issues
list2 = []                                # Blank so zero division as length is 0
list3 = [10,20,30,'abc']                  # String so error. 

average(list1)
average(list2)
average(list3)

** J Try.Except.Finally**

In [ ]:
def average(numList):
     try:
         sum = 0
         for v in numList:
            sum = sum + v
         m = float(sum)/len(numList)
         print ("Average = ", m)
            
     except TypeError as ex:
         print ("TypeError:", ex)
            
     except ZeroDivisionError as ex:
         print ("ZeroDivisionError:", ex)
            
     finally:
         print("Finished\n")
                    
list1 = [10,20,30,40]                     # No issues
list2 = []                                # Blank so zero division as length is 0
list3 = [10,20,30,'abc']                  # String so error. 

average(list1)
average(list2)
average(list3)